/* Reset */
#addsearch-results,
#addsearch-results-right,
#addsearch-results-mid,
#addsearch-results-bottom,
#addsearch-rp-top,
#addsearch-rp-resultscount,
#addsearch-rp-sortby,
#addsearch-rp-paging,
#addsearch-results img,
#addsearch-results div div,
#addsearch-results a,
#addsearch-results a img,
#addsearch-results h1,
#addsearch-results h1 a,
#addsearch-results h2,
#addsearch-results h2 a,
#addsearch-results p,
#addsearch-results p span,
#addsearch-results em,
#addsearch-results p em,
#addsearch-results p span em,
#addsearch-results p a,
#addsearch-results table,
#addsearch-results table tr,
#addsearch-results table tr td,
#addsearch-scroll,
#addsearch-scroll-handle,
#addsearch-mobile-field,
#addsearch-load-more,
#addsearch-demo,
#addsearch-fuzzy,
#addsearch-edit,
#addsearch-results div.addsearch-divider {
  color:#000;
  background: transparent url() no-repeat top left;
  margin:0;
  padding:0;
  border:0;
  border-collapse:collapse;
  border-spacing:0;
  font-variant:normal;
  font-style:normal;
  font-size:100%;
  font-weight:normal;
  text-align:left;
  text-decoration: none;
  vertical-align:text-top;
  letter-spacing: normal;
  float: none;
  line-height:normal;
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  direction: ltr;
}
#addsearch-results img,
#addsearch-results a,
#addsearch-results a img,
#addsearch-results h1 a,
#addsearch-results h2 a,
#addsearch-results p span,
#addsearch-results em,
#addsearch-results p em,
#addsearch-results p span em,
#addsearch-results p a,
#addsearch-load-more span,
#addsearch-demo span,
#addsearch-fuzzy span,
#addsearch-results div.addsearch-divider span {
  display: inline;
  box-sizing:content-box;
  -moz-box-sizing:content-box;
}

/* Input field, remove IE X */
input.addsearch::-ms-clear { visibility: hidden; }

/* Use #'s everywhere so page's css won't overwrite this */
#addsearch-results {
  min-height: 500px;
  font-size: 13px;
  line-height: 16px;
  -webkit-overflow-scrolling: touch;
}

/* Desktop specific result container styles
#addsearch-results.addsearch-d {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
  width: 776px;
  height: 576px;
  border: 2px solid #dadada;
}*/

#addsearch-results-mid {
  -webkit-overflow-scrolling: touch;
}
#addsearch-results-right {
  display: none;
}

#addsearch-edit {
  width: 150px;
  margin-top: 20px;
}

/* Scroll bar only on desktop */
#addsearch-results #addsearch-scroll { display: none; }
#addsearch-results.addsearch-d #addsearch-scroll {
  display: block;
  float: right;
  height: 544px;
  width: 12px;
  background-color: #f6f6f6;
}
#addsearch-results.addsearch-d #addsearch-scroll-handle {
  margin: 1px;
  width: 8px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #ddd;
  position: relative;
  top: 0;
}
#addsearch-results-right #addsearch-scroll-handle:hover {
  background-color: #ccc;
}

/* Bottom */
#addsearch-results-bottom {
  height: 22px;
  padding-top: 8px;
  background-color: #fff;
  color: #999;
  text-transform: uppercase;
  font-family: Helvetica,Arial;
  font-size: 13px;
  line-height: 16px;
}
#addsearch-results-bottom a img {
  margin: 0 0 0 8px;
  padding: 0;
  border: none;
}

#addsearch-results #addsearch-rp-top {
  min-height: 1em;
}
#addsearch-results #addsearch-rp-resultscount {
  margin: 1em 0;
}
#addsearch-results #addsearch-rp-paging {
  float: right;
}
#addsearch-results #addsearch-rp-paging a {
  color: #41444C;
  font-family: Helvetica,Arial;
  font-size: 14px;
  padding: 4px 6px;
  margin: 0 6px 0 0;
  border: 1px solid #ececec;
}
#addsearch-results #addsearch-rp-paging a.currentResultPage {
  color: #aaa;
}
#addsearch-results #addsearch-rp-sortby {
  float: right;
}
#addsearch-results #addsearch-rp-sortby a {
  text-decoration: none;
}
#addsearch-results #addsearch-rp-sortby a.sortby_active {
  text-decoration: underline;
}


/* Cut the logo on mobile */
@media (max-width: 500px) {
  #addsearch-results #addsearch-logo {
    overflow: hidden;
    display: block;
    width: 30px;
  }
}



#addsearch-nohits {
  /*width: 585px;*/
  border-bottom: 2px solid #ececec;
  background: #fff url() no-repeat top left;
}
#addsearch-nohits p {
  padding: 12px 0 12px 12px; margin: 0;
}
#addsearch-nohits p em {
  font-weight: bold;
  font-style: normal;
}
#addsearch-results .addsearch-result-item-container {
  background: transparent url() no-repeat 0 50%;
  background-size: 136px auto;
}
#addsearch-results .addsearch-result-item-sub {
  /*width: 585px;*/
  min-height: 152px;
  border-bottom: 2px solid #ececec;
  background: transparent url() no-repeat 0 50%;
  background-size: 136px auto;
  cursor: pointer;
}
#addsearch-results .addsearch-result-item-sub-active {
  border-right: none;
  background-color: transparent;
}
#addsearch-results .addsearch-result-item-sub-active div {
}
#addsearch-results .addsearch-result-item-sub div {
  /*width: 415px;*/
  margin-top: 0px;
  min-height: 154px;
  padding: 0 14px 0 160px;
  -moz-box-sizing:content-box;
}
#addsearch-results .addsearch-result-item-sub h1,
#addsearch-results .addsearch-result-item-sub h2 {
  padding: 0;
  margin: 0;
  background: none;
}
#addsearch-results .addsearch-result-item-sub h1 a,
#addsearch-results .addsearch-result-item-sub h2 a {
  color: #41444C;
  padding: 16px 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  /* IE bug fixing */
  display: block;
  vertical-align: top;
}
#addsearch-results .addsearch-result-item-sub p {
  padding: 0 12px 0 0;
  margin: 0;
  word-wrap: break-word;
}
#addsearch-results .addsearch-result-item-sub p span {
  display: block;
  margin-top: 16px;
  padding-bottom: 16px;
}
#addsearch-results .addsearch-result-item-sub p span em {
  text-transform: uppercase;
  color: #999999;
  font-size: 12px;
}
#addsearch-results .addsearch-result-item-sub p span.doc_date em {
  text-transform: none;
}
#addsearch-results .addsearch-result-item-sub p em {
  font-weight: bold;
  font-style: normal;
}
#addsearch-results .addsearch-result-item-sub p em.fuzzy {
  font-weight: bold;
  font-style: italic;
  color: #444;
}
#addsearch-results .addsearch-result-item-sub p span.price {
  float: right;
  font-size: 18px;
  color: #080;
}
#addsearch-results .addsearch-result-item-sub p span.document_url {
  font-style: normal;
  margin: 0;
  color: #006621;
  word-wrap: break-word;
}


/* Mobile load more link */
#addsearch-load-more {
  height: 100px;
}
#addsearch-load-more a {
  display: block;
  text-align: center;
  padding: 20px 0;
  margin: 10px auto;
  width: 80%;
  background-color: #eee;
  border: 1px solid #ddd;
}
#addsearch-demo {
  height: 101px;
  width: 585px;
}
#addsearch-demo span {
  display: block;
  padding: 35px 50px 0 50px;
  margin: 0;
  height: 101px;
  color: #00b0b9;
  font-size: 15px;
  background: #f7f7f7 url( https://addsearch.com/www/script/rp/placeholder1.gif ) no-repeat center center;
  border-bottom: 2px solid #ececec;
}
#addsearch-fuzzy,
#addsearch-results div.addsearch-divider {
  height: 28px;
  clear: both;
}

#addsearch-fuzzy span,
#addsearch-results div.addsearch-divider span {
  display: block;
  text-align: center;
  padding: 8px 0 0 0;
  margin: 0;
  height: 20px;
  font-size: 11px;
  line-height: 11px;
  background-color: #f7f7f7;
  border-bottom: 2px solid #ececec;
}

#addsearch-results div.addsearch-divider-noresults span {
  border-bottom: none;
  background-color: transparent;
}

#addsearch-results .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}