@font-face {
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=OpNZno8Dg9bX6Bsp3Wq69Tp3ZBbKP5ZAjyZVXTpsPWVKvjmb7q3Z&skey=d101de7d9d3a82fc&v=v3) format('woff');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/funnelsans/v3/OpNIno8Dg9bX6Bsp3Wq69QpwdB_Kyw.woff2) format('woff2');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/funnelsans/v3/OpNIno8Dg9bX6Bsp3Wq69QpwdB_Kyw.woff2) format('woff2');
}
